@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 36em) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 62.5%;
  }
}
@layer components {
  .content-container {
    @apply max-w-screen-xl mx-auto px-12 xl:px-2;
  }
  .default-gradient {
    @apply bg-gradient-to-r from-indigo-700 via-violet-600 to-violet-700;
  }
}
.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #6d28d9,
    0 0 80px #6d28d9, 0 0 90px #6d28d9, 0 0 100px #6d28d9, 0 0 150px #6d28d9;
}
@layer utilities {
  .project-image-container::before {
    @apply bg-gradient-to-t from-indigo-700/50 to-violet-700/50 absolute left-[-40%]   top-[10%] h-[80%] w-[180%] content-[''];
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
