@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

@media (max-width: 36em) {
  html {
    font-size: 62.5%;
  }
}

@layer components {
  .content-container {
    @apply max-w-screen-2xl mx-auto px-12 xl:px-2;
  }
  .default-gradient {
    @apply bg-gradient-to-r from-indigo-700 via-violet-600 to-violet-700;
  }
}

@layer utilities {
  .project-image-container::before {
    /* background: conic-gradient(
      rgba(109, 40, 217, 0.9) 20deg,
      rgba(67, 56, 202, 0.9) 20deg,
      transparent
    ); */
    animation: spin 3s linear infinite;

    @apply bg-gradient-to-r from-indigo-700 via-indigo-600 to-violet-700 absolute left-[-40%]   top-[10%] h-[80%] w-[180%] content-[''];
  }
}

.animate-spinner {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
